@charset "UTF-8";

body{
	font-family: 'Poppins', sans-serif;
}


/* HEADER */

header{
	height: 20vh;
}


h2{
	text-align:center;
	font-size: 2.4rem;
	color: #fff;
}

span.app{
	color: #FFC107;
}



form .container {
	height: 80vh;  
	width: 50vw;
}


/* LABEL */

label{
	font-size: 1.4rem;
}


/* INPUTS */

input{
	height: 3rem;	
	font-size: 1.16rem!important;
	
}



/* BOTÕES */

.content-btn{
	display:flex;
	justify-content: end;
	gap: 20px;
	margin-top: 1.2rem;
}

.limpar, .salvar, .btnBuscar, .btnFechar, .btnListar{
	font-size:1.16rem;
	font-weight:500;
	width: 6.6rem;
	height: 2.4rem;
	transition: 300ms ease;
	border-radius: .28rem;
}

.btnListar{
	width: auto;
	
}

.limpar, .btnFechar{
	border: 1px solid #FFC107;
	background-color: #FFC107;
	color: #212529;	
}	

.limpar:hover, .btnFechar:hover{
	color: #FFC107;
	background-color: transparent;
}

.salvar, .btnBuscar, .btnListar{
	border: 1px solid #212529;
	background-color: #212529;
	color: #FFC107;	
}

.salvar:hover, .btnBuscar:hover, .btnListar:hover{
	color: #212529;
	background-color: transparent;
}


.btnIcon{
	cursor: pointer;
}

.apagar, .editar{
	font-size: 1.6rem;
}

/* MODAL*/

.modal-content {
	background-color: #a9a9a9;
}

.modal-header{
	background-color: #FFC107;
	border-bottom: 2px double;
}

.modal-header h5, th {
	color: #212529;
}

btn-close{
	color: #FFC107;
}

.btnBuscar{
	float: right;

}

.modal-footer{
	border-top: double #212529;
}

.col-form-label{
	font-size: 1.18rem;
	font-weight: 500;
}



/* Tabela */
.table>tbody {
    vertical-align: initial;
}

thead tr {
	font-size: 1.1rem;
}

tbody tr {
	color: #000;
	font-size: 1.1rem;
}

tbody tr, thead tr{
	border-bottom: double ;
}



/* Media Queries */
   
@media only screen and (min-width:300px) and (max-width:568px){

	form .container {
	height: 80vh;  
	width: 80vw;
	}
	
}